<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Ошибка</h1>
        <h2>С данного ресурса невозможно добавить закладку</h2>
        <h2>Тысяча извинений</h2>
    </hgroup>
    <a href="~/Home/UserProfile" class="btn btn-primary">
        <h2 style="margin-top:0; margin-bottom:0;">Назад</h2>
    </a>
</body>
</html>
