<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body style="text-align:center">
    <hgroup>
        <h1 style="color:red; font-weight:900">Ошибка</h1>
        <h2>Доступ ограничен для не авторизированных пользователей</h2>
    </hgroup>
    <a href="~/Home/Landing" style="text-decoration:none">
        <h2>Войдите в аккаунт</h2>
    </a>
</body>
</html>